body {
  backround: white;
  font: normal normal normal 14px/18px "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
  margin: 40px 20px;
  text-align: center;
}
div.page {
  margin: 0 auto;
  text-align: left;
  width: 520px;
}
h1 {
  color: #666;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
}
ul {
  margin: 0 0 0 212px;
}
li {
  list-style: none;
  padding: 0;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: blue;
}
img {
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  float: left;
  padding: 10px;
}
li a {
  display: block;
  padding: 25px 10px 25px 60px;
}
li.twitter a {
  background: transparent url(twitter-bw.png) no-repeat 0 50%;
}
li.twitter a:hover {
  background: transparent url(twitter.png) no-repeat 0 50%;
}
li.github a {
  background: transparent url(github-bw.png) no-repeat 0 50%;
}
li.github a:hover {
  background: transparent url(github.png) no-repeat 0 50%;
}
li.cobwebs a {
  background: transparent url(cobwebs-bw.png) no-repeat 0 50%;
}
li.cobwebs a:hover {
  background: transparent url(cobwebs.png) no-repeat 0 50%;
}
